/* perfil.component.css */
:root {
    --color-dominante: #05BFDB;
    --color-furte: #00FFCA;
    --color-oscuro: #000;
    --color-claro: #FFFFFF;
    --color-gris: #222222;
    --color-gris-oscuro: #161616;
}
/* perfil.component.css */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-oscuro);
  margin-top: 50px;
  padding: 50px;
}

.foto-perfil {
  width: 100px; /* ajusta el tamaño según tus necesidades */
  height: 100px; /* ajusta el tamaño según tus necesidades */
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--color-claro);
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: var(--color-furte);
  color: var(--color-oscuro);
  border-radius: 10px;
  border: none;
  transition: all .3s;
}
button:hover {
  background-color: var(--color-oscuro);
  color: var(--color-furte);
  box-shadow: 0 0 5px var(--color-furte);
}

h1 {
  color: var(--color-furte);
  margin: 30px;
}
p {
  color: var(--color-claro);
}
label {
  font-weight: bold;
  color: var(--color-furte);
}