
:root {
  --color-dominante: #05BFDB;
  --color-furte: #00FFCA;
  --color-oscuro: #000;
  --color-claro: #FFFFFF;
  --color-gris: #222222;
  --color-gris-oscuro: #161616;
}


img {
  width: 30px;
}
/* styles.css */


  div
  {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 300px; /* Ajusta el ancho del formulario según tus preferencias */
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-oscuro);
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: var(--color-furte);
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: var(--color-furte);
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-furte);
    color: var(--color-oscuro);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }
  
  button:hover {
    background-color: var(--color-oscuro);
    color: var(--color-furte);
    box-shadow: 0 0 10px var(--color-furte);
  }
  