<div>
    <ul>
        <li><a routerLink="/">Incio</a></li>
        <li *ngIf="user!=null"><a routerLink="/labs">CRUD</a></li>
        <li>
            <a href="/" (click)="salir()" *ngIf="user!=null">Salir</a>
        </li>
        <li style="float:right">
            <a  routerLink="/register">LogUp</a>
        </li>
        <li style="float:right" *ngIf="user==null">
            <a routerLink="/login"><span *ngIf="user==null">LogIn</span><span *ngIf="user!=null">{{user}}</span></a>
        </li>
        <li style="float:right" *ngIf="user!=null">
            <a routerLink="/perfil">Perfil</a>
        </li>
      </ul>    
</div>