<app-header></app-header>
<div>
    <form>
        <h1>Registrar</h1>
        <label>Correo electronico</label>
        <input type="text" [(ngModel)]="email" name="email">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="nombre" name="nombre">
        <label>Apellidos</label>
        <input type="text" [(ngModel)]="apellido" name="apellido">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="pass" name="pass">    
        <button (click)="guardar()">REGISTRAR</button>
    </form>  
</div>

